:root{
    --header: 80px;
    --subhead: calc(var(--header)/2);
    --thirdhead: calc(var(--header)/3);
    --body: calc(var(--header)/4.6);
    --body-leading: calc(var(--header)/3.7);
    --button: 14px;
    --left-margin: 15px;
    --spacing: 135px;
    --text-color: red;
    --other-color: white;
}

@font-face {
	font-family: 'PP Editorial New';
	src: url('../fonts/PPEditorialNew-Regular.otf') format('truetype');
    font-weight: 100;
 }

 @font-face {
	font-family: 'Authentic Sans';
	src: url('../fonts/AUTHENTICSans-60.otf') format('truetype');
    font-weight: 100;
 }

 @font-face {
	font-family: 'Authentic Sans';
	src: url('../fonts/AUTHENTICSans-90.otf') format('truetype');
    font-weight: 200;
 }


body{
    font-family: 'PP Editorial New';
}

nav{
    position: fixed;
    top: 40px;
    left: calc(var(--left-margin) - 2px);
    /* background-color: purple;
    width: 350px;
    height: 40px; */
}

button:hover{
    cursor: pointer;
    opacity: 0.7; 
}

.button{
    font-family: 'Authentic Sans';
    font-weight: 200;
    font-size: var(--button);
    border: 1px var(--text-color) solid;
    background-color: var(--other-color);
    color: var(--text-color);
    margin: 5px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 25px;
}

.button:hover{
    opacity: 0.7;
}

.selected{
    background-color: var(--text-color);
    color: var(--other-color);
}

h1{
    font-size: var(--header);
    /* font-weight: bold; */
    margin-left: var(--left-margin);
    margin-top: 114px;
    color: var(--text-color);
}

h2{
    font-size: var(--subhead);
    /* font-weight: bold; */
    margin-left: var(--left-margin);
    margin-top: 30px;
    color: var(--text-color);
}

h3{
    margin-left: calc(var(--left-margin) + 30px);
    font-size: var(--thirdhead);
}

p{
    font-family: 'Authentic Sans';
    font-size: var(--body);
    font-weight: 100;
    line-height: var(--body-leading);
    margin-left: var(--left-margin);
    margin-top: 4px;
    max-width: 33ch;
    margin-right: 20px;
}

em{
    font-style: italic;
}


input{
    border: 1px var(--text-color) solid;
}

@media (min-width: 700px) {
    :root{
        --header: 100px;
        --left-margin: 30px;
        --button: 16px;
    }

    nav{
        position: fixed;
        top: 40px;
        left: calc(var(--left-margin) - 8px);
    }

    p{
        max-width: 42ch;
    }
}

@media (min-width: 1100px) {
    :root{
        --header: 120px;
    }

    p{
        max-width: 52ch;
    }
}